*{
	padding: 0;
	margin : 0;
}
body{
	background-image : url(../img/fondo/pintura_ram.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
}
header{
	width     : 100%;
	height    : 50px;
	background: #173ABD;
	display   : flex;
	position  : fixed;
	top       : 0;
}
.logo{
	width      : 200px;
	color      : #fff;
	margin-left: 3%
}
.logo a{
	text-decoration: none;
	color          : #fff;
}
.logo h2{
	font-family: verdana, sans-serif;
	margin-top : 4%;
}
.menu{
	margin-left: 50%;
}
.menu ul{
	list-style: none;
	display   : flex;
	padding   : 10px;
}
.menu ul li a{
	text-decoration: none;
	padding        : 0 15px;
	color          : #fff;
	font-size      : 150%;
	font-family    : calibri, sans-serif;
	text-transform : uppercase;
}
.menu ul li a:hover{
	text-decoration: underline;
}
.contenedor{
	background   : rgba(255,255,255,0.7);
	float        : left;
	border-radius: 2%;
	width        : 90%;
	margin-top   : 6%;
	margin-left  : 5%;
}
.titulo{
	float: right;
	margin-right: 23%;
}
.titulo h2{
	margin-top: 6%;
	font-size: 200%;
	font-family: calibri,sans-serif;
	text-transform: uppercase;
}
.mapa{
	float      : left;
	margin-left: 4%;
}
.direccion{
	float      : left;
	margin-left: 10%;
	margin-top : 6%;
}
.direccion > p{
	font-family: verdana, sans-serif;
	font-size  : 100%;
}
input{
	margin-top    : 20%;
	margin-left   : 20%;
	padding       : 5px 40px;
	font-family   : calibri, sans-serif;
	border-radius : 45%;
	font-size     : 110%;
	text-transform: uppercase;
	color         : #fff;
	background    : rgba(22,110,192,1);
background: -moz-linear-gradient(left, rgba(22,110,192,1) 0%, rgba(22,110,192,1) 32%, rgba(22,110,192,1) 59%, rgba(19,87,164,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(22,110,192,1)), color-stop(32%, rgba(22,110,192,1)), color-stop(59%, rgba(22,110,192,1)), color-stop(100%, rgba(19,87,164,1)));
background: -webkit-linear-gradient(left, rgba(22,110,192,1) 0%, rgba(22,110,192,1) 32%, rgba(22,110,192,1) 59%, rgba(19,87,164,1) 100%);
background: -o-linear-gradient(left, rgba(22,110,192,1) 0%, rgba(22,110,192,1) 32%, rgba(22,110,192,1) 59%, rgba(19,87,164,1) 100%);
background: -ms-linear-gradient(left, rgba(22,110,192,1) 0%, rgba(22,110,192,1) 32%, rgba(22,110,192,1) 59%, rgba(19,87,164,1) 100%);
background: linear-gradient(to right, rgba(22,110,192,1) 0%, rgba(22,110,192,1) 32%, rgba(22,110,192,1) 59%, rgba(19,87,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#166ec0', endColorstr='#1357a4', GradientType=1);
}
input:hover{
	text-decoration: underline;
}
footer{
	width     : 100%;
	background: #000;
	height    : 100px;
	bottom    : 0;
	position  : fixed;
}
.logo_footer{
	float       : left;
	width       : 200px;
	height      : 80px;
	padding-left: 3%;
	padding-top : 1.5%;
	border-right: 1px solid #fff;
}
.logo_footer h2{
	color      : #fff;
	font-family: verdana, sans-serif;
	padding-top: 10%;
}
.menu_footer{
	float: left;
}
.menu_footer ul{
	list-style: none;
	display   : block;
	padding   : 10px;
	margin-top: 1%;
}
.menu_footer ul li a{
	text-decoration: none;
	color          : #fff;
	font-family    : verdana, sans-serif;
	font-size      : 100%;
}
.menu_footer ul li a:hover{
	text-decoration: underline;
}
.social{
	float        : right;
	padding-top  : 1.5%;
	padding-right: 4%;
}
.social ul{
	display: flex;
}
.social ul li{
	padding: 8px 25px;
}
.social ul li img{
	width : 50px;
	height: 50px;
}
.nombre_footer{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    text-align: center;
    margin-top: 5%;
}